<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Server Loading......</title>
  <link rel="stylesheet" href="/css/main.css" />

  <!-- Add any additional stylesheets or head elements as needed -->
  <style>
    body {
      background-color: blue;
      font-family: 'Arial', sans-serif;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      animation: fadeIn 0.5s ease;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
      color: red; /* red color for error */
      text-align: center;
    }

    p {
      font-size: 1.2rem;
      color: black; 
      text-align: center;
    }

    .hero {
      background-color: #ecf0f1; /* Light gray background for hero */
      border-radius: 10px;
      padding: 30px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    }
  </style>
</head>

<body>

  <div class="container mx-auto p-4">

    <div class="hero">
      <h1>Server Loading....</h1>

      <p>Bad luck!</p>
    </div>

  </div>

</body>

</html>
